body{
    background: url('https://img.freepik.com/free-photo/vivid-blurred-colorful-background_58702-2655.jpg?t=st=1706232024~exp=1706232624~hmac=79013aab4c4bdc84d16f265bad94ef7a91b438414a66411f37621d845eb0b9b3');
    background-size: auto 110vh;
    font-family: Comic Sans; 
    height: 100vh;
  }
  
  .menu{
    background-color: #EBEBEB;
  }
  .menu ul{
    display: flex;
    justify-content: space-around;
  }
  
  .menu li{
    list-style: none;
  }
  
  a {
    color: #047621;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .site-title{
    text-align: center;
    color: #EBEBEB;
  }
  .site-subtitle{
    text-align: center;
    color: #EBEBEB;
    font-style: italic;
  }